body	{
	font-family: arial;
}

h1,h2	{
	color: green;
}

ul li a {
	color: skyblue;
}

ol li a {
	color: red;
}

#p1 {
	color: red;
}

.p2 {
	color: blue;
}

.cetak-tebal{
	font-weight: bold;
}
p.cetak-tebal {
	font-size: 30px;
}